doctype html
html
    head
    body
        #domElement
        #domElementSecond


        button.foo-button.mdc-button
            Open dialog
        button.foo-button.mdc-button
            Open dialog
        button#foo-button2.foo-button.mdc-button
            Open dialog 2

        link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Roboto:300,400,500")