@import "@material/button/mdc-button";
@import "@material/dialog/mdc-dialog";

.foo-button {
    @include mdc-button-ink-color(red);
    @include mdc-states(black);
}

.my-card {
    height: 350px;
    width: 350px;
}

body {
    background: #fff;
    color: #000;
}